<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello, this is the home page</h1>



    <input id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Search">


    <h2>List of the Authors</h2>
    <ol>
        {% for author in all_authors%}
            <li> <a href= "{% url 'Book:Author_' author.pk %}">
                {{author.Name}}</a> </li>
        {% endfor %}

    </ol>
<!--------------------------------------------------------------------------->
    <h2>List of the Books</h2>

    <form action="{% url 'Book:Favourite_'%}", method="post">
        {% csrf_token %}
            {% for book in all_books%}
                {% if song.IsFavourite   %}
                      <input type="image" id="Book{{forloop.counter}}" name="Book"
                             value="{{book.pk}}"
                             src="http://iconshow.me/media/images/Mixed/line-icon/png/256/star-256.png"
                             alt="Submit" width="20" height="20"/>
                {% endif %}
                <label for= 'Book{{forloop.counter}}'> <a href= "{% url 'Book:Book_' book.pk %}">{{book.Title}}</a></label><br>

            {% endfor %}

    </form>


</body>
</html>
